- name: Install Python3 and pip
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  loop:
    - python3
    - python3-pip
  become: yes
  retries: 3
  delay: 10
  register: python_install
  until: python_install is succeeded

- name: Install Flask
  pip:
    name: flask
    executable: pip3
  retries: 3
  delay: 5
  register: flask_install
  until: flask_install is succeeded

- name: Run Flask app
  shell: nohup python3 /home/ubuntu/app.py &
  args:
    chdir: /home/ubuntu
  become: yes
  retries: 3
  delay: 5
  register: flask_run
  until: flask_run is succeeded
