name: Ansible Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ansible
          pip install "ansible[community.mysql]"

      - name: Start SSH agent and add private key
        uses: webfactory/ssh-agent@v0.8.1
        with:
          ssh-private-key: ${{ secrets.ANSIBLE_SSH_KEY }}

      - name: Add servers to known_hosts
        run: |
          ssh-keyscan -H 54.145.6.253 >> ~/.ssh/known_hosts
          ssh-keyscan -H 3.84.197.121 >> ~/.ssh/known_hosts
          ssh-keyscan -H 54.226.103.173 >> ~/.ssh/known_hosts

      - name: Run Ansible Playbook
        run: |
          ansible-playbook -i inventories/development/hosts.ini site.yml \
            --extra-vars "ansible_user=${{ secrets.ANSIBLE_SSH_USER }} \
                          db_root_password=${{ secrets.DB_ROOT_PASSWORD }} \
                          db_name=${{ secrets.DB_NAME }} \
                          db_user=${{ secrets.DB_USER }} \
                          db_password=${{ secrets.DB_PASSWORD }}"
